/* Corpo da página */
body {
    font-family:cursive;
    background-color: #4f0556;
    padding: 20px;
    color: antiquewhite;
}

/* Inputs e botão */
input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#buttonAdicionar {
    background-color: #4CAF50;
    color: white;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#tarefa {
    border-radius: 5px;
}

#tarefa:hover {
    background-color: #46074656;
}

/* Lista de tarefas */
#campoData {
    margin-top: 20px;
    background-color: #e5e3e5;
    border-radius: 8px;
    
}

#campoData:hover {
    background-color: #46074656;
}
#campoData:focus {
    background-color:#46074656 ;
}

#adicionarTarefa:hover{
 background-color: #500a5056;
 color: #46074656;
}
.apagarTarefa:hover{
    background-color: #46074656;
}
#Lista-de-tarefas{
    background-color: #dd2add56;
    color: #f4f0f4ef;
    border-radius: 25px;
    border-bottom: 10px;
    box-shadow: 30px;
}

.quadrado {
    border-radius: 8px;
    border-bottom: 16px;
    background-color: #c152c156;
    border-width: 19px;
}